:root {
    --header-color: #012D63 ;
    --fff-color: white;
    --header-color-text: #C7C7C7;
    --bg-button: #8E32C6;
    --span-color: #D8D8D8;
    --footer-bg: #021635;
    --input-color: #959595;
}

.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-color: var(--header-color);
    
    
}

.nav-list{
    display: flex;
    margin-top: 30px;
    margin-bottom: 33px;
    
}


.nav-item{
    margin-left: 29px;
    font-size: 24px;
   
    
}

.nav-link{
    color: var(--header-color-text);
    font-family: Roboto;
    font-weight: 300;
}

.nav-link:hover{
    color: var(--fff-color);
}

.header-wrap{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.header-paragraf{
    color: var(--header-color-text);
    font-family: Roboto;
    font-size: 24px;
    margin-left: 73px;
}

.header-span{
    color: var(--fff-color);
}

.header-logo{
    width: 100px;
    height: 60px;
    margin-right: 112px;

}

.header-list{
    margin-left: 37px;
    
}

.header-item{
    
}

.container-hero{
    
}

.hero{
    background-image: url(../img/main_bg.webp);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding-bottom: 183px;
    
}

.hero-img{
    margin-top: 91px;
    width: 160px;
    height: 120px;
}
.hero-text{
    width: 178px;
    height: 86px;
    color: var(--fff-color);
    font-weight: 400;
    font-family: PT Serif;
    font-size: 48px;
    margin-top: -32px;
    margin-left: 25px;
}

.hero-title{
    font-size: 144px;
    color: var(--fff-color);
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;
    margin-bottom: -18px;
}

.hero-title1{
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;
    color: var(--fff-color);
}

.hero-text1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: var(--fff-color);
    margin-top: 12px;
    margin-bottom: 41px;
}

.button-hero{
    border-radius: 10px;
    background: var(--bg-button);
    width: 254px;
    height: 67px;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: var(--fff-color);
    
}

.button-hero-text{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: var(--fff-color);
}

.benefits{
    background-image: url(../img/benefits_bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 105px;
    
} 



.list-benefits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:  solid var(--bg-button);
    width: 1110px;
    height: 396px;
}

.benefits-img{
    width: 240px;
    height: 240px;
}



.benefits-title{
    color: var(--fff-color);
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
}

.item-benefits:nth-child(2){
    border-left: 1px solid var(--fff-color);
    border-right: 1px solid var(--fff-color);
    padding-left: 95px;
    padding-right: 95px;

}

.reviews{
    background-image: url(../img/reviews_bg.jpg),
     url(../img/flowers.webp);
    background-repeat: no-repeat, no-repeat;
    margin-left: auto, auto;
    margin-right: auto, auto;
    background-position: center, bottom left;
    background-size: cover, 45px;
    margin-top: 2px;
    
}

.reviews-text{
    font-family: Roboto;
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    padding-left: 18px;
    padding-right: 9px;
    width: 228px;
    margin-bottom: 8px;
    

}

.container-reviews{
   
}

.reviews-list{
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 114px;
}

.span-reviews{
    color: var(--span-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.span-reviews:nth-child(2){
    margin-left: 18px;
}



.reviews-item:nth-child(2){
    width: 255px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    padding-top: 49px;
    
}

.reviews-item:nth-child(1){
    padding-top: 49px;
    width: 255px;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow:0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978 ;
}

.reviews-item:nth-child(3){
    padding-top: 49px;
    width: 255px;
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C ,0px 30px 0px -13px #732F26;
}

.wrap-reviews{
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.reviews-title-one{
    color: var(--fff-color);
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    padding-top: 25px;
}

.div-reviews{
   margin-left: 18px;
   margin-bottom: 29px;
   margin-top: 47px;
   display: flex;
}

.img-reviews{
    margin-right: 8px;
}

.reviews-title{
    color: var(--fff-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;

}

.order{
    background-image: url(../img/order-bg.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    
}

.title-order{
    color: var(--fff-color);
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    text-align: center;

}


.form-order{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.input-order{
    color: var(--input-color);
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    border-radius: 50px;
    background: var(--fff-color);
    border: none;

}


.input-order:nth-child(1){
    width: 690px;
    height: 60px;
    
}

.input-order:nth-child(2){
    width: 580px;
    height: 50px;
}

.input-order:nth-child(3){
   width: 580px;
   height: 50px;
}

.input-order:nth-child(4){
    width: 580px;
    height: 50px;

}



/* 
font-family: Roboto; 
font-family: Playfair Display;
font-family: PT Serif;
*/



.button-order{
    border-radius: 16px;
    background: var(--bg-button);
    width: 248px;
    height: 68px;
    color: var(--fff-color);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    border: none;
}



.footer-text{
    color: var(--fff-color);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}

.footer-link{
    color: var(--fff-color);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}

.text-footer1{
    color: var(--fff-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.button-logo{
    color: var(--fff-color);
    font-family: PT Serif;
    font-size: 24px;
    font-weight: 400;
}


.footer{
    background: var(--footer-bg);
    width: 1440px;
}

